
body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
}

body {
    background-image: url('../images/travel.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.header-img {
    width: 100vw;    
    height: 100px;
    top: 0;
    position: fixed;
    z-index: 1000;
}

.header-img > img{
    width: 100%;
    height: 100%;
}

.navbar-home {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 100px; 
    text-align: center;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}

.navbar-home ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.navbar-home li {
    margin-right: 20px;
    display: inline;
}

.navbar-home a {
    color: white;
    text-decoration: none;
}

.navbar-home a:hover {
    text-decoration: underline;
}

.container-home {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    margin: 30% auto 10px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
    z-index: 998;
    box-sizing: border-box;
    padding: 10px; 
}

@media screen and (min-width: 768px) {
    .container-home {
        margin: 10% auto 10px; 
    }
}

.container-home img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}


.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin-right: 20px;
    display: inline;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.search-bar {
    position: fixed;
    top:5%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #F0FFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 998;
    padding: 10px;
    text-align: center;
}

#searchInput {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.container {
    max-width: 600px;
    margin: 150px auto 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container > * {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.card {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card p {
    margin-top: 10px;
}

.btn-container {
    display: flex;
    float:right;
    justify-content: flex-end;
    margin-top: 10px; 
}

.btn-edit{
        background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}
.btn-delete {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 36px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
